body {
    font-family: montserrat;
}
.conditions {
    margin-top: -20px;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin: 10px 0 30px 0;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: fff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #6bcad2; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #6bcad2; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .calculator-wrapper {
      width: 90%;
      margin-top: 30px;
      background-color: #384142;
      color: white;
      font-size: 22px;
      font-weight: 900;
      padding: 20px;
    }
    .info-cr {
        margin: -30px 0 50px 0;
        position: absolute;
        font-size: 14px;
        font-weight: normal;
        width: 86%;
    }
    .info-credit-1 {   
        margin-top: -30px;
        text-align: left;
    }
    .info-credit-2 {
        margin-top: -30px;
        text-align: right;
        margin-left: auto;
    }
    .confirm-credit-btn {
        width: 250px;
        height: 50px;
        background-color: #6bcad2;
        border: none;
        font-size: 20px;
        font-family: montserrat;
        font-weight: 700;
        color: white;
        display: block;
        margin: 0 auto;
    }

    .return-data-title {
        margin-top: 60px;
    }
    .return-data {
        margin-bottom: 20px;
    }
    .return-sum {
        margin-bottom: 20px;
    }
    .return-percent {
        margin-bottom: 20px;
    }
    .return-total {
        margin-bottom: 30px;
    }